body {
	width: 95%;
}
header {
	width: 96.8%;
	padding: 15px;
	border:3px solid #000000;
}
#logo{ 
    height:100px;
	width: 100px;
}
nav {
	width: 95%;
	padding: 30px;
	background-color: #FCE6C9;	
	text-align:center;
}
li {
	display: inline;
	padding:15px;
	border: 1px solid #000000;
}
article {
	width: 97%;
	padding: 13.8px;
	border: 2px solid #000000;
	float: left;
}
footer{
	width: 98.5%;
	padding: 7px;
	color: #000000;
	clear:left;
	background-color:#FCE6C9;
}
p{
	font-size:17px;
}
strong{
         color:#D60072;
}
.box-shadow{
    background-color: #FCE6C9;
    top: 40px;
	right: 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 20px 23px #FCE6C9;
}
#relative{
	position: relative;
	left: 110px;
	top: 10px;
	width:1000px;
	height: 400px;
	margin-bottom: 70px;
	text-align: center;
	background-color:#FCE6C9;	
}
#absolute{
	position: absolute;
	top: 40px;
	right: 200px;
	width: 600px;
	height: 320px;
	border: 3px solid #FCE6C9;
	background-color: #FCE6C9;
}
a.link_class:hover{
	color: #D60072;
	font-weight: bold;
}
td{
	text-align: center;
}
a.link:hover{
	color: #D60072;
	font-weight: bold;
}
a.torna:hover{
	color: #D60072;
	font-weight: bold;
}
table{
	margin-left: auto;
	margin-right: auto;
}
img{
	width: 250px;
	height: 250px;
}
iframe{
	width: 560px;
	height: 315px;
}
.immaginiamabile{
	width:320px;
	height:200px;
}
.immaginisocial{
	width:160px;
	height:250px;
}
#tabella{
	border:1px solid #000000;
	table-layout:fixed;
	width:550px;
	border-spacing:5px;
	float:left;
}
.form {
	border: 1px solid #8C8080;
	background-color:#FCE6C9;
	color:#8C8080;
}
















